@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.common-font {
  font-family: "Inter", sans-serif;
   
}
/* hero start hear  */

/*  */
/* #footer{
    background-image: url(../assets/hero-bg.png);
    width: 100%;
    background-size: cover;
    height: 332px;
    background-repeat: no-repeat;
}  */